.footer{
	colour: rgb(255,255,204); /* Pee yellow */
	font-family: Verdana, Geneva, sans-serf;
	text-align: center;
	font-size: 10px;
	bottom: 0;
}

.button{
	color: rgb(255,204,204); /* Blush pink */
	font-family: Verdana, Geneva, sans-serf;
	text-align: center;
}

h1{
	font-family: Verdana, Geneva, sans-serf;
	colour: #99FFFF; /* Light Blue */
	font-weight: 700;
	margin: 0;
	text-align: center;
}

body{
	background-color: black;
	color: rgb(255,255,255);
	text-align: center;
}

.col-md-6 {
  	margin: 0 0 30px;
  	display: flex;
	flex-wrap: wrap;
}

.description{
	font-family: Verdana, Geneva, sans-serf;	
	color: rgcb(255,255,255);
}
