footer{
	color: rgb(0,0,0); /* Pee yellow */
	font-family: Verdana, Geneva, sans-serf;
	text-align: center;
	font-size: 16px;
	bottom: 0;
	padding: 20px 0;
}

header .row{
	text-align: center;
	padding: 20px 0;
}

header h1{
	font-family: Verdana, Geneva, sans-serf;
	color: rgb(204,255,229);
	font-weight: 1000;
}

header p{
	font-family: Verdana, Geneva, sans-serf;
	color:  rgb(0,0,0);
}

body{
	background-color: rgb(0,0,0);
	text-align: center;
}

.col-md-6 {
  	margin: 0 0 30px;
  	display: flex;
	flex-wrap: wrap;
}

.description{
	font-family: Verdana, Geneva, sans-serf;	
	color: black;
}

.btn.btn-grocery {
	border-radius: 2px;
  	border: 0px;
  	color: rgb(0,0,0);
  	text-shadow: none;
  	background-color: #fbd1d5;
}

.btn.btn-primary:hover {
  color: #fbd1d5;
  background-color: rgb(255,255,255);
}

.btn.btn-resume{
	border-radius: 2px;
	border: 0px;
	color: rgb(0,0,0);
	background-color: rgb(176,196,222);
}

.btn.btn-resume:hover{
	colour: rgb(176,196,222);
	background-color: rgb(255,255,255);
}
