footer{
	color: rgb(0,0,0); /* Pee yellow */
	font-family: Verdana, Geneva, sans-serf;
	text-align: center;
	font-size: 10px;
	bottom: 0;
	padding: 20px 0;
}

header .row{
	text-align: center;
	padding: 8px 0;
}

header h1{
	font-family: Verdana, Geneva, sans-serf;
	color: rgb(176,196,222);
	font-weight: 10000;
	text-align: left;
}

header h2{
	font-family: Verdana, Geneva, sans-serf;
	color: rgb(0,0,0);
	font-weight: 10000;
	text-align: left;
}


header nav {
	display: flex;
	justify-content: flex-end;
}

header p{
	font-family: Verdana, Geneva, sans-serf;
	color:  rgb(0,0,0);
}

body{
	background-color: black;
	text-align: center;
}

section .row{
	margin: 0 0 30px;
	display: flex;
	flex-wrap: wrap;
}

section h3{
	font-family: Verdana, Geneva, sans-serf;
	color: rgb(204,204,255);
	font-weight: 10000;
	text-align: left;
}

.col-md-6 {
  	margin: 0 0 30px;
  	display: flex;
	flex-wrap: wrap;
}

section .description{
	font-family: Verdana, Geneva, sans-serf;	
	color: black;
	padding: 0 30px;
}

section .fact{
	font-family: Verdana, Geneva, sans-serf;	
	color: black;
	padding: 0 30px;
	text-algin: left;
}

section ul{
	text-align: left;
}

.btn.btn-resume{
	border-radius: 2px;
	border: 0px;
	color: rgb(0,0,0);
	background-color: rgb(176,196,222);
}

.btn.btn-resume:hover{
	colour: rgb(176,196,222);
	background-color: rgb(255,255,255);
}

.btn.btn-grocery {
	border-radius: 2px;
  	border: 0px;
  	color: rgb(0,0,0);
  	text-shadow: none;
  	background-color: rgb(204,229,255);
}

.btn.btn-grocery:hover {
  color: rgb(204,229,255);
  background-color: rgb(255,255,255);
}

.btn.btn-brig {
	border-radius: 2px;
  	border: 0px;
  	color: rgb(0,0,0);
  	text-shadow: none;
  	background-color: rgb(204,229,255);
}

.btn.btn-brig:hover {
  color: rgb(204,229,255);
  background-color: rgb(255,255,255);
}

.btn.btn-cs {
	border-radius: 2px;
  	border: 0px;
  	color: rgb(0,0,0);
  	text-shadow: none;
  	background-color: rgb(204,229,255);
}

.btn.btn-cs:hover {
  color: rgb(204,229,255));
  background-color: rgb(255,255,255);
}

.btn.btn-python {
	border-radius: 2px;
  	border: 0px;
  	color: rgb(0,0,0);
  	text-shadow: none;
  	background-color: rgb(204,229,255);
}

.btn.btn-python:hover {
  color: rgb(204,229,255);
  background-color: rgb(255,255,255);
}

